<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.HouselistMapper" >
  <resultMap id="BaseResultMap" type="Pojo.Houselist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="houseid" property="houseid" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DOUBLE" />
     <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
 <select id="selectAll" resultMap="BaseResultMap">
   select *
    from houselist
    <where>
		<if test="houseid!=null and houseid!=''">
		and houseid=#{houseid}
		</if>
		<if test="address!=null and address!=''">
		and address=#{address}
		</if>
		<if test="area!=null and area!=''">
		and area=#{area}
		</if>
		<if test="price!=null and price!=''">
		and price=#{price}
		</if>
		<if test="status!=null and status!=''">
		and status=#{status}
		</if>
		<if test="type!=null and type!=''">
		and type =${type}
		</if>
		<if test="bedroom!=null and bedroom!=''">
		and bedroom =${bedroom}
		</if>
		<if test="bashroom!=null and bashroom!=''">
		and bashroom =${bashroom}
		</if>
		<if test="city!=null and city!=''">
		and city =${city}
		</if>
		</where>
	
  </select>
  
  
  <select id="selectAllCondition" resultMap="BaseResultMap" parameterType="Pojo.Houselist">
   select *
    from houselist
    <where>
		<if test="houseid!=null and houseid!=''">
		and houseid=#{houseid}
		</if>
		<if test="address!=null and address!=''">
		and address=#{address}
		</if>
		<if test="area!=null and area!=''">
		and area=#{area}
		</if>
		<if test="price!=null and price!=''">
		and price=#{price}
		</if>
		<if test="status!=null and status!=''">
		and status=#{status}
		</if>
		<if test="type!=null and type!=''">
		and type =${type}
		</if>
		<if test="bedroom!=null and bedroom!=''">
		and bedroom =${bedroom}
		</if>
		<if test="bashroom!=null and bashroom!=''">
		and bashroom =${bashroom}
		</if>
		<if test="city!=null and city!=''">
		and city =${city}
		</if>
		</where>
	
  </select>
  
  
  <select id="selectcondition" resultMap="BaseResultMap">
  	select * from houselist 
  	where 
  	status=#{status} and type=${type} and bedroom =${bedroom} and bashroom =${bashroom} and city =${city}
  </select>
  
  
  <select id="findhouselistByVoCount" parameterType="Pojo.QueryVo" resultType="int">
		select count(*)
		from houselist
		<where>
		
		<if test="houseid!=null and houseid!=''">
		and username=#{houseid}
		</if>
		<if test="address!=null and address!=''">
		and address=#{address}
		</if>
		<if test="area!=null and area!=''">
		and area=#{area}
		</if>
		<if test="price!=null and price!=''">
		and price=#{price}
		</if>
		<if test="status!=null and status!=''">
		and status=#{status}
		</if>
		</where>
	</select>
	
	<select id="findid" parameterType="Integer" resultType="Pojo.Houselist">
		select * from houselist where id=#{id}
	</select>
	<select id="findhouseid" parameterType="String" resultType="Pojo.Houselist">
		select * from houselist where houseid=#{houseid}
	</select>
	<select id="findhouseidupdate" parameterType="Pojo.Houselist" resultType="Pojo.Houselist">
		select * from houselist where houseid=#{houseid} and id!=#{id}
	</select>
	
	<update id="updatehouse" parameterType="Pojo.Houselist">
		update houselist set houseid=#{houseid},address=#{address},area=#{area},price=#{price},status=#{status},bedroom=#{bedroom},bashroom=#{bashroom},poast=#{poast},detail=#{detail},name=#{name},email=#{email},
		phone=#{phone},iswashing=#{iswashing},iskitchen=#{iskitchen},housename=#{housename},type=#{type},city=#{city}
		where id=#{id}
	</update>
	
	<update id="updatehousestatus" parameterType="Pojo.Houselist">
		update houselist set status=#{status}
		where id=#{id}
</update>
<update id="updatestatus" parameterType="Pojo.Houselist">
		update houselist set status=#{status}
		where houseid=#{houseid}
</update>
	
	<insert id="inserthouse" parameterType="Pojo.Houselist">
	  insert into houselist(houseid,address,area,price,status,bedroom,bashroom,poast,detail,isair,name,email,phone,iswashing,iskitchen,housename,type,city) 
	  values(#{houseid},#{address},#{area},#{price},#{status},#{bedroom},#{bashroom},#{poast},#{detail},#{isair},#{name},#{email},#{phone},#{iswashing},#{iskitchen},#{housename},#{type},#{city})
	</insert>
	 
	<delete id="deletehouse" parameterType="Integer" >
		delete from houselist where id=#{id}
	</delete>
	
	<delete id="deletehousebyhouseid" parameterType="String" >
		delete from houselist where houseid=#{houseid}
	</delete>
</mapper>